# **Pandas**

### What is Pandas? 

I know a cute black and white bear comes to mind. <br>
But in the world of Machine Learning and Data Science, Pandas is one of the most important Python Libraries you will come across.
<br>
Pandas is an open source library that helps you manipulate and analyze data.<br>It provides ready to use high-performance data structures and data analysis tools. Pandas module runs on top of NumPy.

*In this notebook we cover some of the most fundamental functions of the Pandas Library*

###  **0. Importing Pandas**
To get started using pandas, the first step is to import it.

The most common way is to import pandas as the abbreviation pd.

If you see the letters pd used anywhere in machine learning or data science, it's probably referring to the pandas library.

In [1]:
import pandas as pd

### **1. Datatypes in Pandas**

There are two major datatypes in pandas, `Series` and `DataFrame`.


*   `Series` : One-Dimensional column of data.
*   `DataFrame` : Two-Dimensional table of data with rows and columns.

You can create a Series using `pd.Series()` and passing it a Python list.

Consider the following example:

In [2]:
fruits = pd.Series(["Apple", "Mango", "Banana"])
fruits

0     Apple
1     Mango
2    Banana
dtype: object

In [3]:
colors = pd.Series(["Red", "Yellow", "Green"])
colors

0       Red
1    Yellow
2     Green
dtype: object

You can create a DataFrame by using `pd.DataFrame()` and passing it a Python dictionary.

Consider the following example:

Let's use our two Series (fruits and colors) as the values.

In [5]:
fruitData = pd.DataFrame({"Fruit" : fruits, "Color" : colors})
fruitData

    Fruit   Color
0   Apple     Red
1   Mango  Yellow
2  Banana   Green

### **2. Importing Data**

During your Machine Learning journey, Something that you'll have to do countless times is importing your data in the form of a `.csv` (Comma Seperated Value) file or a spreadsheet file.

pandas allows for easy importing of data like this through functions such as `pd.read_csv()` and `pd.read_excel()` (for Microsoft Excel files).

Say you wanted to get this information from this `.csv` document into a pandas `DataFrame`.



![Screenshot 2022-09-18 at 4.10.18 PM.png]()

In [7]:
dataset = pd.read_csv('Data.csv') #takes filename as argument
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### **3. Exporting Data**

Once you are done manipulating or analyzing data, and want to export it back into a `.csv` file, 
This can easily be done by using `.to_csv()` or spreadsheet format using `.to_excel()`.

In [ ]:
dataset.to_csv() #the argument here will be the name you want the new csv file to have

Running the above line will save the `.csv` file with the specified name in the current folder.

### **4. Describing Data**

pandas has many built in functions which allow you to quickly get information about a DataFrame.

Let's explore some using our dataset.**bold text**

In [8]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

`.dtypes` shows us what datatype each column contains.

In [9]:
dataset.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

`.describe()` gives you a quick statistical overview of the numerical columns.

In [10]:
dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

`.info()` shows a handful of useful information about a DataFrame such as:



1.   How many entries (rows) there are
2.   Whether there are missing values (if a columns non-null value is less than the number of entries, it has missing values)
3. The datatypes of each column

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

You can also call various statistical and mathematical methods such as `.mean()` or `.sum()` directly on a `DataFrame` or `Series`.

In [12]:
dataset.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Age          38.777778
Salary    63777.777778
dtype: float64

In [13]:
dataset.sum()

Country      FranceSpainGermanySpainGermanyFranceSpainFranc...
Age                                                      349.0
Salary                                                574000.0
Purchased                            NoYesNoNoYesYesNoYesNoYes
dtype: object

Calling these on a whole `DataFrame` may not be as helpful as targeting an individual column. But it's helpful to know they're there.

`.columns` will show you all the columns of a DataFrame.

In [14]:
dataset.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

`.column` returns a list, so it can be stored for later use.

`.index` will show you the values in a DataFrame's index (the column on the far left).

In [15]:
dataset.index

RangeIndex(start=0, stop=10, step=1)

### **5. Viewing and Selecting Data**

`.head()` allows you to view the first 5 rows of your `DataFrame`.

In [16]:
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

`.tail()` allows you to view the last 5 rows of your `DataFrame`.

In [18]:
dataset.tail()

   Country   Age   Salary Purchased
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

If you want a different value than 5, you can specifiy so in the parenthesis.

In [19]:
dataset.head(3)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No

You can use `.loc[]` and `.iloc[]` to select data from your `Series` and `DataFrame's`.

Lets create a sample series.

In [22]:
animals = pd.Series(["Lion", "Tiger", "Hippo", "Orangutan"], index=[0, 3, 9, 8])
animals

0         Lion
3        Tiger
9        Hippo
8    Orangutan
dtype: object

`.loc[]` takes an integer as input. And it chooses from your `Series` or `DataFrame` whichever index matches the number.

In [23]:
animals.loc[3]

'Tiger'

`.iloc[]` does a similar thing but works with exact positions.

In [24]:
animals.iloc[3]

'Orangutan'

When should you use `.loc` and `.iloc`?



*   Use `.loc` when you are dealing with *indexes*.
*   Use `.iloc` when you are dealing with *positions*.

Slicing can also be used withing `.loc` and `.iloc`.

.iloc is most commonly in splitting the dataset into *Matrix of Features* and the *Independent Variable Vector* while doing Machine Learning.

Consider the following:

In [25]:
x = dataset.iloc[:, :-1]
x

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [26]:
y = dataset.iloc[:, -1]
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

Here,

X : Matrix of Features

Y : Independent Variable Vector